#Replace YOUR_PASSWORD and YOUR_PROJECT_ID with your supabase credentials
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@db.YOUR_PROJECT_ID.supabase.co:5432/postgres
SUPABASE_URL=https://YOUR_PROJECT_ID.supabase.co
SUPABASE_SERVICE_KEY=your_supabase_supabase_key
SUPABASE_ANON_KEY=your_supabase_anon_key
REDIS_URL=rediss://default:YOUR_PASSWORD@YOUR_HOST.upstash.io:6379
GEMINI_API_KEY=your_gemini_api_key
JWT_SECRET=generate_a_random_64_char_string
STRIPE_SECRET_KEY=sk_test_your_key
EMAIL_PROVIDER=gmail
GMAIL_USER=your_email@gmail.com
GMAIL_PASS=your_app_password
CLIENT_URL=http://localhost:5173
PORT=5000
NODE_ENV=development
